.app {
	height: 400px;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
	margin: auto;
	width: auto;
	height: 48px;
	border-radius: 5px;
	padding: 9px 15px;
	background-color: midnightblue;
	border: 0;
	font-size: 14px;
	color: white;
	outline: 0;
}

button:hover {
	background: #e69400;
}

button:active {
	background: #d18600;
}

input {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	padding: 9px;
	outline: 0;
	font-size: 16px;
	border: solid 1px #e5e5e5;
}

input:hover,
input:focus {
	border-color: #c9c9c9;
}

label {
	width: 50px;
	text-align: left;
	color: black;
	font-weight: 400;
}
