.start-menu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	max-height: 440px;
	max-width: 500px;
	margin: auto;
	justify-content: center;
}

.start-menu__header {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 24px;
	font-weight: 800;
	margin-top: 40px;
}

.start-menu__subHeader {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
	font-weight: 800;
}

.start-menu__game-logo {
	width: 30%;
}

.start-menu__input {
	display: flex;
	width: 100%;
	height: 10%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
}

.start-menu__button {
	display: flex;
	width: 100%;
	height: 20%;
	flex-direction: row;
	justify-content: space-around;
}

.start-menu__note {
	font-size: 12px;
	text-align: center;
}
